.Patient-Data-Container
{
    padding-left: 0.5%;
    text-align: start;
}

.Prescription-Table
{
  width : 100%;
}

.Prescription-Table th
{
  text-align: left;
}

.Prescription-Table td
{
  text-align: left;
}